# DATA CLEANING

In [1]:
import pandas as pd

In [2]:
sample_data = pd.read_csv(
    "https://raw.githubusercontent.com/davidbrandon16/binusMachineLearning/master/sample.csv",
    sep=";",
)

In [3]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 8 columns):
Year                           260 non-null int64
Industry_aggregation_NZSIOC    260 non-null object
Industry_code_NZSIOC           260 non-null object
Industry_name_NZSIOC           260 non-null object
Units                          260 non-null object
Variable_code                  260 non-null object
Variable_category              260 non-null object
Value                          251 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 16.4+ KB

In [50]:
data_1 = sample_data.drop_duplicates().dropna().reset_index(
    drop=True
).rename(
    columns={
        "Industry_aggregation_NZSIOC": "level",
        "Industry_code_NZSIOC": "code",
        "Industry_name_NZSIOC": "name",
    }
).drop(columns="Year")

In [54]:
data_1.head()

,level,code,name,Units,Variable_code,Variable_category,Value
0,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H01,Financial performance,4.432000e+09
1,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H04,Financial performance,4.119000e+09
2,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H07,Financial performance,2.110000e+08
3,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H08,Financial performance,3.579000e+09
4,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H09,Financial performance,1.800000e+08

In [55]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 7 columns):
level                231 non-null object
code                 231 non-null object
name                 231 non-null object
Units                231 non-null object
Variable_code        231 non-null object
Variable_category    231 non-null object
Value                231 non-null float64
dtypes: float64(1), object(6)
memory usage: 12.8+ KB

In [56]:
data_1.columns

Index(['level', 'code', 'name', 'Units', 'Variable_code', 'Variable_category',
       'Value'],
      dtype='object')

In [58]:
data_1.groupby(["level", "name"]).mean()

                                                          Value
level   name
Level 3 Dairy Cattle Farming                       1.116443e+10
        Horticulture and Fruit Growing             2.505578e+09
        Poultry, Deer and Other Livestock Farming  1.216081e+09
        Sheep, Beef Cattle and Grain Farming       1.008699e+10
Level 4 Dairy Cattle Farming                       8.938504e+09
        Horticulture and Fruit Growing             2.421525e+09
        Poultry, Deer and Other Livestock Farming  1.175546e+09
        Sheep, Beef Cattle and Grain Farming       9.761539e+09

In [65]:
data_1.loc[(data_1.Units == "Dollars (millions)"), "Value"] = data_1.Value * 1000

In [61]:
data_1.sort_values(by=[
    "name",
    "code",
    "Variable_code",
])

,level,code,name,Units,Variable_code,Variable_category,Value
114,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H01,Financial performance,1.353700e+10
115,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H04,Financial performance,1.301100e+10
116,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H05,Financial performance,1.810000e+08
117,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H07,Financial performance,3.450000e+08
118,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H08,Financial performance,1.165800e+10
119,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H09,Financial performance,1.568000e+09
120,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H11,Financial performance,6.330000e+08
121,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H12,Financial performance,1.442000e+09
122,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H13,Financial performance,0.000000e+00
123,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H19,Financial performance,7.807000e+09
124,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H20,Financial performance,3.500000e+07
125,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H21,Financial performance,6.521000e+09
126,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H22,Financial performance,6.388000e+09
127,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H23,Financial performance,1.746000e+09
128,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H24,Financial position,6.472400e+10
129,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H25,Financial position,1.174900e+10
130,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H26,Financial position,4.123700e+10
131,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H29,Financial position,1.173800e+10
132,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H30,Financial position,6.472400e+10
133,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H31,Financial position,2.247300e+10
134,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H32,Financial position,1.055800e+10
135,Level 3,AA13,Dairy Cattle Farming,Dollars (millions),H33,Financial position,3.169300e+10
136,Level 3,AA13,Dairy Cattle Farming,Dollars,H34,Financial ratios,5.364000e+05
137,Level 3,AA13,Dairy Cattle Farming,Dollars,H35,Financial ratios,6.920000e+04
138,Level 3,AA13,Dairy Cattle Farming,Percentage,H36,Financial ratios,1.110000e+02
139,Level 3,AA13,Dairy Cattle Farming,Percentage,H37,Financial ratios,5.100000e+01
140,Level 3,AA13,Dairy Cattle Farming,Percentage,H39,Financial ratios,8.000000e+00
141,Level 3,AA13,Dairy Cattle Farming,Percentage,H40,Financial ratios,3.000000e+00
142,Level 3,AA13,Dairy Cattle Farming,Percentage,H41,Financial ratios,3.500000e+01
143,Level 4,AA131,Dairy Cattle Farming,Dollars (millions),H01,Financial performance,1.353700e+10
...,...,...,...,...,...,...,...
84,Level 3,AA12,"Sheep, Beef Cattle and Grain Farming",Percentage,H41,Financial ratios,5.500000e+01
85,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H01,Financial performance,1.155500e+10
86,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H04,Financial performance,1.081200e+10
87,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H05,Financial performance,1.350000e+08
88,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H07,Financial performance,6.080000e+08
89,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H08,Financial performance,9.867000e+09
90,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H09,Financial performance,6.990000e+08
91,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H10,Financial performance,1.780000e+08
92,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H11,Financial performance,5.260000e+08
93,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H12,Financial performance,9.980000e+08
94,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H13,Financial performance,0.000000e+00
95,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H19,Financial performance,7.416000e+09
96,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H21,Financial performance,6.246000e+09
97,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H22,Financial performance,6.393000e+09
98,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H23,Financial performance,1.835000e+09
99,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H24,Financial position,5.645400e+10
100,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H25,Financial position,1.280300e+10
101,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H26,Financial position,3.585800e+10
102,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H29,Financial position,7.793000e+09
103,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H30,Financial position,5.645400e+10
104,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H31,Financial position,3.105600e+10
105,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H32,Financial position,9.333000e+09
106,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H33,Financial position,1.606500e+10
107,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars,H34,Financial ratios,5.423000e+05
108,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Dollars,H35,Financial ratios,8.610000e+04
109,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Percentage,H36,Financial ratios,1.370000e+02
110,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Percentage,H37,Financial ratios,6.900000e+01
111,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Percentage,H39,Financial ratios,6.000000e+00
112,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Percentage,H40,Financial ratios,3.000000e+00
113,Level 4,AA121,"Sheep, Beef Cattle and Grain Farming",Percentage,H41,Financial ratios,5.500000e+01

In [62]:
data_2 = sample_data.drop_duplicates().fillna(
    0,
).reset_index(
    drop=True,
).rename(
    columns={
        "Industry_aggregation_NZSIOC": "level",
        "Industry_code_NZSIOC": "code",
        "Industry_name_NZSIOC": "name",
    }
).drop(columns="Year")

In [64]:
data_2.head()

,level,code,name,Units,Variable_code,Variable_category,Value
0,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H01,Financial performance,4432.0
1,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H04,Financial performance,4119.0
2,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H05,Financial performance,0.0
3,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H07,Financial performance,211.0
4,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H08,Financial performance,3579.0